@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color:#191919;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 60px;
}

ul{
  list-style: none;
  
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  width:80%;
}

/* header */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.logo{
  font-size: 42px;
  color: #ffff;
  text-transform: capitalize;
  font-weight: 700;
}

.navigation{
  display: flex;
}

.navigation > * +*{
  margin-left: 20px;
}

.navigation .btn{
  border: 1px solid #ffff;
  border-radius: 5px;
  color: #ffff;
  padding: 8px 22px;
  font-weight: 700;
  cursor: pointer;
}

/* Grid */
.Grid{
  margin: 0  auto;
  margin-top: 60px;
  max-width: 600px;
  height: 600px;
  background-color: #ffff;
  border:20px solid black;
  display: flex;
  flex-wrap: wrap;
}

.Grid .box{
  height: auto; 
  cursor:url("./img/pencil-solid.svg") ,crosshair;
}